/********************************  IMPORT FONTS ****************************/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/********************************  IMPORT FONTS END ****************************/

/********************************  TEXT AUG START ****************************/



h1 {
  font-family: 'Abel';font-size: 30px;
  position: relative;
  text-align: center;
}

h2 {
  font-family: 'Abel';font-size: 26px;
  position: relative;
  text-align: center;
}


h3 {
  font-family: 'Abel';font-size: 22px;
  position: relative;
  text-align: center;
  font-size: 15px;
}

p {
  font-family: 'Abel';font-size: 22px;
  position: relative;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

/********************************  TEXT AUG END ****************************/

/********************************  TEST SECTION ****************************/



/********************************  TEST SECTION END ****************************/

/******************************** NAV MENU START ****************************/

  /* Navbar container */
.navbar {
  background-color: rgb(255, 255, 255);
  font-family: Arial;
  display: flex;
  justify-content: center;

}

/* The dropdown container */
.dropdown {
  float: inherit;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  color: rgb(0, 0, 0);
  border: none;
  background-color:#ffffff;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: center;
  background-color: #ffffff;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  float: center;
  color: rgb(148, 148, 148);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(255, 255, 255);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

  
/********************************  NAV MENU END ****************************/





